<footer>
    <h3>@ Codial. All Rights Reserved</h3>

    <ul>
        <li><a href="/users/profile">
            
        profile</a></li>
        <li><a href="/">
            
            home</a></li>
        
    </ul>
</footer>
