<% if(locals.user){ %>
    <div id="user-chat-box" class="chatbox">
        <div class="chatbox_head">
            
                CHATBOX
            
        </div>
        <div class="chat-container">
            <ul class="chat">
                <li class="message left">
                    <!-- <img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt=""> -->
                    <p>I'm hungry!</p>
                </li>
                <li class="message right">
                    
                    <p>Hi hungry, nice to meet you. I'm Dad.</p>
                </li>
            </ul>
            <div>
                <input type="text" class="text_input" placeholder="Message...">
                <button id="send-message">send</button>
            </div>
        </div>
        
    </div>
<%} %>