<% if(locals.user){ %>
    <div id="user-chat-box" class="chatbox">
        <div class="chatbox_head">
            
                CHATBOX
            
        </div>
        <div class="chat-containerC">   

        
            <div class="chat-container">
                <ul class="chat" id="chat-messages-list">
                    
                </ul>
                
            </div>
        </div>
        <div id="chat-message-input-container">
                
            <input type="text" class="text_input" id="chat-message-input"placeholder="Type message here.."/>
            <input class="text_input" id="send-message" type="submit" value="send">

        
        
       
          
    </div>  
        
    </div>
<%} %>