body{
    margin: 0;
    // text-align: center;
    #layout_body{
        min-height: 90vh; 
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding-left: 20px;
        height: auto;
    }
      
}
header{
    align-items: center;
    background-color:#2b6fdc;
    display: flex;
    justify-content: space-between;
    height: 80px;
    

    
    h1 {
        margin-left: 10px;
        color: whitesmoke;
      }
    ul{
        display: flex;
        flex-direction: row;
    }
    li {
        margin-right: 10px;
        display: flex;
        a{
            color: whitesmoke;
        }
        
    
    }
    
}
footer{
    position: inherit;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        flex-direction: row;
    }
    li {
        margin-right: 10px;
        display: flex;
        a{
            color: whitesmoke;
        }
        
    
    }
    background-color:grey;
    h3 {
        margin-left: 10px;
        color: whitesmoke;
      }
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
input::placeholder {
  color: gray;
}

input {
  cursor: pointer;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  font-size: 10px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#new-post-form1{
  cursor: pointer;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 80px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  width: 88%;
  border: $google-blue;
}